<div class="mainDiv">
  <div class="curRecipe" *ngFor="let recipe of currentFavorite">
    <button (click)="backToFavorites()">&crarr; Back to Favorites</button>
    <button (click)="goToRecipes()">Search new recipes</button>
    <h1>{{recipe.label}}</h1>
    <img src="{{recipe.image}}">
    <p>{{recipe.calories | number: '1.0-0'}} kcal</p>
    <p class="ingredients">{{recipe.ingredientLines}}</p>
    <p *ngFor="let healthLabel of recipe.healthLabels">{{healthLabel}}</p>
    <button (click)="deleteFavorite(recipe)">Delete Favorite</button>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>