<div class="head">
  <button (click)="goToFavorites()">Favorites</button>
  <h1>Find your Food Recipes</h1>
  <hr>
  <input type="text" [(ngModel)]=recipesService.input>
  <button (click)=recipesService.findRecipes()>Search recipe</button>
  <hr>
</div>

<div class="main-div">
  <div class="recipes">
    <div (click)="openRecipe(recipe)" class="recipe" *ngFor="let recipe of recipes">
      <h2>{{recipe.label}}</h2>
      <img class="recipeImg" src="{{recipe.image}}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>